.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sender {
    justify-content: flex-end;
    color: blue; /* Blue text for senders */
  }
  
  .recipient {
    justify-content: flex-start;
    color: red; /* Red text for recipients */
  }
  
  .username {
    font-weight: bold;
  }
  
  .message-text {
    margin-left: 5px;
    margin-right: 5px;
  }
  